---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

// Fetch all books from the authors collection
const allBooks = await getCollection('books');

const base = import.meta.env.BASE_URL;

import Layout from '../layouts/Layout.astro';
const title = 'Books';
---

<script>
  // This runs in the browser
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register(`${base}sw.js`)
      .then(registration => console.log('SW registered:', registration))
      .catch(error => console.log('SW registration failed:', error));
  } else {
    console.log('Service workers are not supported');
  }
</script>

<Layout title={title}>
  <main>
    <p class="text-center text-white text-2xl font-bold">Book Library</p>
    <p class="pl-4 text-white text-xl">Showing {allBooks.length} books</p>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      {allBooks.map((book) => (
        <div class="p-4 bg-gray-900 rounded-md shadow-lg bg-opacity-80 m-4 hover:outline-4 outline-white hover:outline-dashed outline-offset-2 flex flex-col items-center justify-center">
          <Image src={`https://covers.openlibrary.org/b/isbn/${book.data.isbn}-M.jpg`} alt={`Cover of ${book.data.title}`} inferSize={true} loading={"lazy"} class="rounded-md object-contain mt-2" />
          <div class="text-center text-white p-4 text-xl font-bold">{book.data.title}</div>
          <div class="text-white">by {book.data.author}</div>
        </div>
      ))}
    </div>
  </main>
</Layout>
